# Local
.DS_Store
*.local
*.log*

# Environment variables
.env
.env.local
.env.*.local

# Algolia config (如果包含敏感信息)
# config/algolia.config.ts

# Dist
node_modules
dist/
doc_build/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
